.skill {
  max-width: 1300px;
  margin: 80px auto;
  height: max-content;
  &__list {
    display: grid;
    grid-template-rows: 160px 160px;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
    gap: 30px;
    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border: 1px solid #004953;
      border-radius: 20px;
      padding: 20px;
      gap: 8px;

      & i {
        font-size: 40px;
      }
      .skill-name {
        font-size: 22px;
        color: #ffffff;
        font-weight: 600;
      }
    }
  }
}