@import '../../../styles/variable.scss';

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1300px;
  height: 120px;
  margin: 0 auto;
  background-color: #2e2d3d5d;
  .footer-dev {
    text-align: center;
    font-size: 32px;
    margin-bottom: 15px;
  }
  .footer-txt {
    font-size: 14px;
    color: grey;
    margin-top: 8px;
  }
  .line {
    width: 90%;
    height: 1px;
    background-color: darkgray;
  }
}