@import '../../../styles/variable.scss';

.about__child {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: 200px;
  height: 170px;
  border: 1px solid #004953;
  border-radius: 12px;
  padding: 20px;

  .x-title {
    color: blue;
    font-size: 20px;
}
  .x-text {
    color: $white-text;
    font-size: 30px;
    font-weight: 700;
    line-height: 26px;
    
  }
}