.projects {
  max-width: 1300px;
  margin: 80px auto;
  &__list {
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    row-gap: 70px;
  }
  
    
}