.projects {
  max-width: 1300px;
  margin: 80px auto;
  padding: 0 15px;
  height: max-content;
  &__list {
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    row-gap: 70px;
  }
  
    
} 

@media only screen and (max-width: 1300px) and (min-width: 1024px) {
  .projects {
    height: max-content;
    &__list {
      grid-template-columns: 32% 32% 32%;
      grid-template-rows: auto auto;
      row-gap: 30px;
    }
  }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .projects {
    height: max-content;
    padding: 0 5px;

    &__list {
      grid-template-columns: 48% 48%;
      grid-template-rows: auto auto;
      row-gap: 30px;
    }
  }
}

@media only screen and (max-width: 768px) and (min-width: 520px) {
  .projects {
    height: max-content;
    padding: 0 5px;

    &__list {
      justify-content: center;
      grid-template-columns: 70%;
      grid-template-rows: auto auto;
      row-gap: 40px;
    }
  }
}

@media only screen and (max-width: 520px) and (min-width: 320px) {
  .projects {
    height: max-content;
    padding: 0 5px;
    &__list {
      justify-content: center;
      grid-template-columns: clamp(300px,80%,340px);
      grid-template-rows: auto auto;
      row-gap: 40px;
    }
  }
}