@import '../../../styles/variable.scss';
.contact {
  max-width: 1300px;
  margin: 80px auto;
  padding: 0 15px;
  &__item {
    display: flex;
    justify-content: space-between;
    height: 430px;
    width: 100%;
    &-sm {
      width: 48%;
      border: 2px solid #5140f0ff;
      padding: 30px;
      border-radius: 20px;
      &--title {
        font-size: 26px;
        font-weight: 600;
        color: $white-text;
        margin-bottom: 60px;
      }
      .social {
        ul {
          display: grid;
          grid-template-columns: auto auto;
          grid-template-rows: 50px 50px 50px; 
          gap: 20px 40px;
          li {
            a {
              display: flex;
              align-items: center;
              gap: 12px;
              transition: .3s;
              div {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: #2e2d3d5d;
                i {
                  font-size: 20px;
                }
              }
              p {
                color: $white-text;
                font-size: 16px;
                transition: .3s;

              }
              &:hover {
                p {
                  background: linear-gradient(94deg, #5540f0ff 33.29%, #c40d72ff 67.01%);
                  background-clip: text;
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent; 
                }
              }
            }

          }
        }
      }
    }
    &-sms {
      width: 48%;
      border: 2px solid #5140f0ff;
      padding: 30px;
      border-radius: 20px;
      form {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px 20px;
        div {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 10px;
          label {
            color: $white-text;
            font-size: 18px;
          }
          input, textarea {
            width: 100%;
            height: 35px;
            border: 2px solid #5540f0ff;
            background-color: #2e2d3d5d;
            border-radius: 8px;
            outline: none;
            padding: 10px;
            color: $white-text;
            font-size: 16px;
          }
        }
        .number , .msg {
          grid-column-start: 1;
          grid-column-end: 3;
        }
        .msg {
          textarea {
            height: 90px;
          }
        }
        .form-submit {
          grid-column-start: 1;
          grid-column-end: 3;
          width: 100%;
          height: 40px;
          margin-top: 20px;
          border-radius: 10px;
          background-color: #5140f0ff;
          border: none;
          color: #fff;
          font-size: 16px;
          i {
            margin-left: 18px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.contact-light {
  .contact__item {
    &-sm {
      box-shadow: 0px 0px 8px 2px #00077766;
      border: none;
      &--title {
        color: #5140f0ff;
      }
      .social {
        ul {
          li a p {
            color: #004953;
          }
        }
      }
    }
    &-sms {
      box-shadow: 0px 0px 8px 2px #00077766;
      border: none;
    }
    form label {
      color: #004953;
    }
    form input, form textarea {
      background-color: $white-text;
      color: #004953;
    }
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1024px) {
  .contact {
    &__item {
      flex-direction: column;
      height: max-content;
      align-items: center;
      gap: 80px;
      &-sm {
        width: 80%;
        height: 480px;
        padding: 60px 40px;
        .social {
          ul li a p {
            font-size: 20px;
          }
        }
      }
      &-sms {
        width: 80%;
        height: 480px;
        padding: 60px 40px;
      }
    }
  }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .contact {
    &__item {
      flex-direction: column;
      height: max-content;
      align-items: center;
      gap: 80px;
      &-sm {
        width: 80%;
        height: auto;
        padding: 60px 40px;
        .social {
          ul {
            grid-template-columns: auto;
          }
          ul li a p {
            font-size: 20px;
          }
        }
      }
      &-sms {
        width: 80%;
        height: 480px;
        padding: 60px 40px;
      }
    }
  }
}

@media only screen and (max-width: 768px) and (min-width: 520px) {
  .contact {
    padding: 0 5px;

    &__item {
      flex-direction: column;
      height: max-content;
      align-items: center;
      gap: 80px;
      &-sm {
        width: 80%;
        height: auto;
        padding: 40px 30px;
        .social {
          ul {
            grid-template-columns: auto;
            grid-template-rows: repeat(6, 45px); 

          }
          ul li a p {
            font-size: 18px;
          }
        }
      }
      &-sms {
        width: 80%;
        height: auto;
        padding: 40px 30px;
        form {
          grid-template-columns: 1fr;
          div {
            grid-column-start: 1;
            grid-column-end: 3;
            
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 520px) and (min-width: 320px) {
  .contact {
    padding: 0 5px;
    &__item {
      flex-direction: column;
      height: max-content;
      align-items: center;
      gap: 50px;
      &-sm {
        width: clamp(300px,80%,340px);
        height: auto;
        padding: 20px;
        &--title {
          margin-bottom: 40px;
        }
        .social {
          ul {
            grid-template-columns: auto;
            grid-template-rows: repeat(6, 45px); 

            li {
              a {
                gap: 8px;
                div {
                  width: 40px;
                  height: 40px;
                  i {
                    font-size: 16px;
                  }
                }
              }
            }
          }
          ul li a p {
            font-size: 16px;
          }
        }
      }
      &-sms {
        width: clamp(300px,80%,340px);
        height: auto;
        padding: 20px;
        form {
          grid-template-columns: 1fr;
          div {
            grid-column-start: 1;
            grid-column-end: 3;
            label , input, textarea {
              font-size: 16px;
              color: redl
            }
          }
        }
      }
    }
  }
}

