@import '../../styles/variable.scss';
.project__item {
  width: 400px;
  height: 480px;
  border: 1px solid #004953;
  border-radius: 20px;
  
  &-block {
    position: relative;
    border-radius: 20px 20px 0 0 ;
    height: 260px;
    margin-bottom: 10px;
    background: linear-gradient(94deg,#c10d72ff 33.29%, #5140f0ff  67.01%);

    & img {
      border-radius: inherit;
      width: 100%;
      height: 100%;

    }
    &--type {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 16px;
      padding: 2px 8px;
      border-radius: 12px;
      color: #fff;
      text-transform: uppercase;
      background: linear-gradient(94deg,#c10d72ff 33.29%, #5140f0ff  67.01%);

    }
    .project__item-type {
      position: absolute;
      top: 10px;
      right: 20px;
      color: #fff;
      border: 1px solid #fff;
      padding: 2px 8px;
      border-radius: 12px;
    }
    .project__item-alt {
      position: absolute;
      left: 20px;
      top: 100px;
      font-size: 40px;
      font-weight: 700;
      color: #fffeee;
    }
  }
  &-info {
    padding: 20px;
    &--name {
      font-size: 24px;
      font-weight: 700;
      color: $white-text;
      margin-bottom: 20px;
    }
    &--descr {
      font-size: 18px;
      color: grey;
      font-weight: 600;
      line-height: 20px;
      margin-bottom: 17px;
    }
    &--skill {
      display: flex;
      align-items: center;
      justify-content: start;
      flex-wrap: wrap;
      gap: 8px 5px;
      &--item {
        color: #fffeee;
        font-size: 16px;
        padding: 3px 10px;
        background-color: #004953;
        border-radius: 10px;
      }
    }
  }
  
}