@import '../../styles/variable.scss';
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  height: 80px;
  margin: 0 auto 10px auto;
  background-color: #2e2d3d5d;
  padding: 0 10px;
  a {
    p {
      font-size: 32px;
      font-weight: bold;
    }
  }
  nav {
    ul {
      display: flex;
      gap: 25px;
      li {
        a {
          color: $white-text;
          font-size: 18px;
          font-weight: 600;
          position: relative;
          &:hover {
            &::after {
              position: absolute;
              content: '';
              display: block;
              width: 50%;
              height: 2px;
              margin-top: 4px;
              background: linear-gradient(94deg, #5540f0ff 33.29%, #c40d72ff 67.01%);

            }
          }
        }
        .active-nav {
          &::after {
            position: absolute;
            content: '';
            display: block;
            width: 50%;
            height: 2px;
            margin-top: 4px;
            background: linear-gradient(94deg, #5540f0ff 33.29%, #c40d72ff 67.01%);

          }
        }
      }
    }
  }
  .theme {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }

}