.about {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    &-features {
      display: grid;
      grid-template-columns: 90%;
      grid-template-rows: repeat(3, 200px);
      gap: 20px;
      width: max-content;
    } 
    &-indicator {
      display: grid;
      gap: 30px;
      grid-template-columns: 200px 200px;
      grid-template-rows: 170px 170px;
    }  

  }
  
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .about {
    &__item {
      flex-direction: column;
      justify-content: center;
      gap: 80px;
      &-features {
        width: 90%;
        justify-content: center;
      }
      &-indicator {
        justify-content: center;
        width: 80%;
        grid-template-columns:  45% 45%;
        grid-template-rows: 200px 200px;
      }
    }
  }
}

@media only screen and (max-width: 768px) and (min-width: 320px) {
  .about {
    padding: 0 5px;
    &__item {
      flex-direction: column;
      justify-content: center;
      gap: 80px;
      &-features {
        width: 90%;
        grid-template-rows: repeat(3, auto);
        justify-content: center;
      }
      &-indicator {
        justify-content: center;
        width: 80%;
        grid-template-columns:  80%;
        grid-template-rows: repeat(4, 170px);
      }
    }
  }
}


