@import '../../../styles/variable.scss';


.a-item {
  border-radius: 12px;
  border: 1px solid #004953;
  margin-bottom: 16px;
  padding: 20px;
  .a-title {
    color: blue;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .a-descr {
    color: $white-text;
    font-size: 17px;
    line-height: 26px;
  }
}
.a-item-light {
  border: none;

  box-shadow: 0px 0px 8px 2px #00077766;
  .a-title {
    font-weight: 700;
  }
  .a-descr {
    color: grey;
  }
}