@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import './styles/variable.scss';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}
html {
  scroll-behavior: smooth;
}
#about,
#projects,
#contact,
#skills {
  scroll-margin-top: 90px;
}
a {
  text-decoration: none;
}

li {
  list-style-type: none;
}
.special {
  background: linear-gradient(94deg, #5540f0ff 33.29%, #c40d72ff 67.01%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-nav-item {
  font-size: 36px;
  font-weight: 700;
  color: $white-text;
  position: relative;
  width: max-content;
  margin-bottom: 30px;

  &::after {
    position: absolute;
      content: '';
      display: block;
      width: 100%;
      height: 3px;
      margin-top: 3px;
      border-radius: 10px;
      background: linear-gradient(94deg, #5540f0ff 33.29%, #c40d72ff 67.01%);
  }
}
.descr-nav-item {
  font-size: 20px;
  color: $white-text;
  font-weight: 400;
  margin-bottom: 80px;
  
}




.app-item {
  max-width: 1300px;
  margin: 0 auto;
  margin-bottom: 60px;
}

@media only screen and (max-width: 768px) and (min-width: 320px) {
  .title-nav-item {
    font-size: 28px;
    font-weight: 700;
    color: $white-text;
    position: relative;
    width: max-content;
    margin-bottom: 30px;

    &::after {
      position: absolute;
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        margin-top: 3px;
        border-radius: 10px;
        background: linear-gradient(94deg, #5540f0ff 33.29%, #c40d72ff 67.01%);
    }
  }
  .descr-nav-item {
    font-size: 18px;
    color: $white-text;
    font-weight: 400;
    margin-bottom: 80px;
    
  }

}
.light-nav {
  color: #000777;
}